

<div>
<img class="image" src="/images/beer.png" width="300"/>
</div>
<button type="button" class="btn btn-secondary"><a href="/beers">Check the Beers!</a></button>
<button type="button" class="btn btn-secondary"><a href="/random-beer">Random Beer</a></button>


