   <div class="random-beer"> 
        {{> beerPartial this}}
         <p>{{tagline}}</p>
        <img src ="{{image_url}}" />
        <p><b>Food Pairing</b></p>
        <ul>
          <li>{{food_pairing}}</li>
        </ul>
        <p><b>Brewer tips: </b>{{brewers_tips}}</p>
       </div>